html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.mapEntry h1{
  font-size: 16pt;
  padding-right: 10px;
  font-style: italic;
}

.multiSelect{
  min-width: 280px;
  min-height: 200px;
}

.mapEntry{
  font-size: 13pt;
}
